{{#unless err}}
<h1>Times you have visited this page is {{count}}<h1>
<br>
<form action="/count" method="post">
	<input type="submit" name="command" value="resetCount">
</form>
{{else}}
<h1> Invalid Submission!</h1>
{{/unless}}
